Question 1

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [3]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Check for missing values in each column
missing_values = df.isna().sum()

# Display columns with missing values
print(missing_values[missing_values > 0])

id       1
song    11
dtype: int64

Question 2

In [2]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Get the shape of the dataset (rows, columns)
data_shape = data.shape
data_shape

(391, 11)

Question 3

In [12]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Get the names of the columns in the dataset
data_columns_summary = data.columns
data_columns_summary

Index(['row_n', 'id', 'name', 'gender', 'species', 'birthday', 'personality',
       'song', 'phrase', 'full_id', 'url'],
      dtype='object')

In [15]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Summary statistics for numerical columns
summary_stats = data.describe()

# Display the result
print(summary_stats)

# Count of unique values in the 'personality' column
personality_counts = data['personality'].value_counts()

# Display the result
print(personality_counts)

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

This will output summary statistics for numerical columns, such as mean, std (standard deviation), min, max, and percentiles (25%, 50%, 75%) and will show the count of villagers for each personality type.

Question 4

In [17]:
# Load the dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
data = pd.read_csv(url)

# Summary statistics for numerical columns
summary_stats = data.describe()
# Display the result
print(summary_stats)


# Get the shape of the dataset (rows, columns)
data_shape = data.shape
data_shape

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

(891, 15)

Using the alternate dataset, we can observe that data.describe() did not count the empty rows in the age column.

Question 5

Attributes are the characteristics of an object. They store a certain type of information about the object within the code and can be accessed without parentheses. the purpose of Attributes is they simply give information that is held and provided in the code.

Methods are functions that are unique to the object it is given with and they can perform actions and calculations on a object.
they are called with parentheses with the ability to pass arguments within the parentheses. Methods perform a task or gives a result for the object.

The key difference between a attribute and a method is that attributes are variables that provide information while Methods are functions that perform actions or computations

Question 6

Count: The number of non-missing values in each column.

Mean: The average value for the column. It is calculated by summing all the values and dividing by the count.

Standard deviation (std): A measure of how speed out the values are from the mean. 

Minimum (min): The smallest value in the column

25th percentile (25%): known as the first quartile, it is the value below which 25% of the data is.

50th percentile (50%): The median, the middle value of the data when it is sorted.

75th percentile (75%): known as the third quartile. it is the value below which 75% of the data is.

Maximum (max): the largest value in the column.

Question 7

In [2]:
import pandas as pd
# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Delete irrelevant columns like 'birthday'
del df['birthday']

# Drop rows where 'name', 'species', or 'personality' have missing values
df_cleaned = df.dropna(subset=['name', 'species', 'personality'])

# Display the cleaned dataset
print(df_cleaned.head())

   row_n       id     name  gender    species personality         song  \
0      2  admiral  Admiral    male       bird      cranky   Steep Hill
1      3  agent-s  Agent S  female   squirrel       peppy      DJ K.K.
2      4    agnes    Agnes  female        pig        uchi   K.K. House
3      6       al       Al    male    gorilla        lazy   Steep Hill
4      7  alfonso  Alfonso    male  alligator        lazy  Forest Life

     phrase           full_id  \
0   aye aye  villager-admiral
1  sidekick  villager-agent-s
2   snuffle    villager-agnes
3   Ayyeeee       villager-al
4  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

Part 1: Shown in code above

Part 2: Shown in code above

Part 3: Applying del df['birthday'] before df.dropna(subset=['name', 'species', 'personality']) results in only the relevant columns in the data set being considered, making handing missing data easier and can prevent any unnecessary data loss, leading to the data cleaning process becoming more efficient.

Part 4: Shown in code above

Before report:

Use df.dropna() to manage missing values dynamically and retain as much data as possible.
Use del to explicitly remove columns that are deemed unnecessary or overly incomplete.

After report:

Delete irrelevant columns like 'birthday' and drop rows where 'name', 'species', or 'personality' have missing value

Question 8

Part 1:

df.groupby("col1"): This groups the data in the DataFrame df by the unique values in column col1.

["col2"]: This selects the column col2 from the grouped data, which will be the focus of the aggregation or summary.

.describe(): This generates summary statistics (like count, mean, std, min, 25%, 50%, 75%, max) for the numerical data in col2 for each group created by col1.

df.groupby("col1")["col2"].describe() groups the data by col1 and provides summary statistics for col2 for each group. This is useful for understanding how a numerical column (like age) behaves across different categories (like species).

In [1]:
import pandas as pd

# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Group by 'species' and describe 'name'
grouped_summary = data.groupby('species')['name'].describe()

# Display the grouped summary
print(grouped_summary)

          count unique       top freq
species
alligator     7      7   Alfonso    1
anteater      7      7  Anabelle    1
bear         15     15    Beardo    1
bird         13     13   Admiral    1
bull          6      6     Angus    1
cat          23     23     Ankha    1
chicken       9      9       Ava    1
cow           4      4     Naomi    1
cub          16     16    Barold    1
deer         10     10       Bam    1
dog          16     16       Bea    1
duck         17     17      Bill    1
eagle         9      9    Amelia    1
elephant     11     11      Axel    1
frog         18     18  Camofrog    1
goat          8      8     Billy    1
gorilla       9      9        Al    1
hamster       8      8     Apple    1
hippo         7      7    Bertha    1
horse        15     15  Annalise    1
kangaroo      8      8    Astrid    1
koala         9      9     Alice    1
lion          7      7       Bud    1
monkey        8      8      Deli    1
mouse        15     15  Anicotti    1
octopus       3      3    Marina    1
ostrich      10     10   Blanche    1
penguin      13     13    Aurora    1
pig          15     15     Agnes    1
rabbit       20     20    Bonbon    1
rhino         6      6   Hornsby    1
sheep        13     13   Baabara    1
squirrel     18     18   Agent S    1
tiger         7      7    Bangle    1
wolf         11     11     Audie    1

Part 2: 

The reason for being fundamentally different is  df.describe() gives you a higher level of overview for the dataset's columns (globally) while df.groupby("col1")["col2"].describe() breaks down the dataset in groups, providing some insight on the subset of the data. This shows the patterns and statistics within each group (such as how many villagers are of a certain species) instead of looking at the entire dataset.

 Part 3:

Part A. 


For this part, the chatbot was much more helpful in fixing the error in my code. It gave me a short but detailed explanation on how to add the import part of the code and gave me some key points in what each part of the import code means, such as pd being an alias. When searching for help on google, the solution that was provided was good, but not as detailed and helpful as ChatGPT.

Part B. 


For this part, ChatGPT simply told me that my titanics.csv is a typo and titanic.csv is the correct url. Google gave me alot more information that I didnt need, making it more confusing for me to naviagate through.

Part C.


ChatGPT auto corrected the coding mistake, changing the variable to what is was suppose to be and then telling me what it does. Google gave me the correct answer with some examples but didnt use my dataset. ChatGPT was more useful for acting like the mistake didnt exist, but google shows a more detailed way to write the code.

Part D.


ChatGPT told me the problem right away and gave me the correct answer to fix it. Google gave me examples again but was not specific, therefore ChatGPT was the better alternative.

Part E. 


ChatGPT told the mistake right away, changing the code I gave it and giving me the correct code to use. Google did the same thing as in Part D and gave me examples not relating to my data with a tip to pay attention to spelling. ChatGPT got to the point quicker and did what google did but better.

Part F. 


ChatGPT did the same thing it did in part C where it auto corrected the line of code and gave me the correct answer with no mention of an error. Google also did the same thing, giving me examples that weren't direct, but indicated that I did have an error. Google was better to understand my mistake and fixing it while ChatGPT just gave the answer without explaining the problem.

Part G.


ChatGPT detected an error in the titanic_df.groupby("sex")[age].describe() code and was able to point out the missing quotes around age. Google didnt help me directly and provided some examples. ChatGPT was more clear and simple compaired to google.

Question 9


Yes

Summary

https://chatgpt.com/c/66e0c270-1e50-800b-ab53-17fcc89b8595
https://chatgpt.com/c/66e37eed-5f2c-800b-ae83-5a0b9399cb5c